
        
        label{
            color: white;
        }
        #log1{
            width: 50%;
            padding-left: 50px;
        }
        #search{
            width: 50%;
            float: right;

        }
        
        #register{
            text-align: center;
            align-items: center;
            padding-left: 100px;
        }
        h3{
            color: white;
        }
         h1{
             color: red;
             text-align: center;
         }
         
         .navbar-nav>li{
             padding-right: 30px;
             padding-left: 30px;

         }
         #sell1{
            margin-right: 50px;
            padding-left: 30px;
            align-items: center;
         }
         #just{
             color: blue;
         }
         